/* Hero Section */
.hero-section {
  position: relative;
  height: 70vh;
  overflow: hidden;
  text-align: center;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 49.2% 28.8%;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.15;
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.hero-content h1 {
  font-size: 5.5rem;
  margin-bottom: 0rem;
  font-weight: 500;
  color: white; 
  text-align: center; 
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.03); 
  padding: 0.2rem 0.4rem; 
  border-radius: 32px; 
  -webkit-backdrop-filter: blur(1.5px); 
  backdrop-filter: blur(1.5px); 
}

.cta-button {
  padding: 0.4em 1.75em;
  background-color: #ffffff;
  color: black;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 6px;
  display: block;    
  margin-top: 0.1rem;  
  margin-left: auto; 
  margin-right: auto; 
  width: fit-content;   
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ddddddb0;
}

/* Info Section */
.info-section {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0; 
  padding-right: 0; 
  background-color: white; 
  color: black;
  text-align: center; 
}

.info-section-content {
  max-width: 1200px;
  margin-left: auto; 
  margin-right: auto; 
  padding-left: 1rem;  
  padding-right: 1rem; 
  box-sizing: border-box; 
}

.info-section h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.info-section p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
